@import url("main.css");

app-tabs {
    height: var(--size-tab);
    width: 100%;
    position: absolute;
    padding: 0px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

app-tab {
    height: calc( var(--size-tab) - var(--size-buffer) );
    background-color: rgba(0,0,0,0);
    border-radius: var(--size-corner) var(--size-corner) 0px 0px;
    padding-left: calc( var(--size-tab) / 3.5 );
    padding-right: calc( var(--size-tab) / 3.5 );
    padding-top: calc( var(--size-tab) / 6 );
    margin-right: 4px;
    margin-top: var(--size-buffer);
    transition-duration: var(--trans);
    user-select: none;
    opacity: .5;
    font-size: calc( var(--size-tab) / 2.7 );
}

.selected-tab {
    background-color: var(--color-dark);
    transition-duration: 0s;
    opacity: 1;
}

app-tab:not(.selected-tab):hover {
    background-color: var(--color-hover);
    opacity: 1;
}

app-content {
    position: absolute;
    background-color: var(--color-dark);
    height: calc( 100% - var(--size-tab) );
    top: var(--size-tab);
    padding-top: var(--size-pad);
    width: 100%;
}

app-page {
    --resize: 0;    /* 0 -> 3 */

    font-family: "Main";
    color: var(--color-text);
    position: absolute;
    transition-duration: var(--trans);
    width: calc( 100% - var(--size-pad) * var(--resize) );
    height: calc( 100% - var(--size-titlebar) - var(--size-pad) * 2 );
    padding: var(--size-pad);
    padding-top: 0px;
    overflow-y: scroll;
}

button:not(.option):not(.option-hover):not(.app-title-button):not(.search-button) {
    background-color: var(--color-light);
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.5 );
    padding-bottom: calc( var(--size-pad) / 1.5 );
    color: var(--color-text);
    border-radius: var(--size-corner);
    border: none;
    transition-duration: var(--trans);
    font-size: var(--size-text);
}

button:not(.option):not(.option-hover):not(.app-title-button):not(.search-button):hover {
    background-color: var(--color-lighter);
}

home-screen {
    opacity: 0;
    transition-duration: var(--trans-extra-long);
    display: block;
}

welcome-message {
    font-family: "Main-Bold";
    font-size: calc( var(--size-text) * 2 );
    display: block;
}

w-small {
    font-family: "Main-Bold";
    font-size: var(--size-text);
    opacity: .5;
    display: block;
}