select-menu { 
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding: var(--size-pad);
    display: block;
    border-radius: var(--size-corner);
    overflow-y: auto;
    text-align: center;
}

select-info {
    font-size: var(--size-text);
    opacity: .5;
}

.option {
    width: 100%;
    height: var(--size-option);
    background-color: rgba(0,0,0,0);
    color: var(--color-text);
    border-radius: var(--size-corner);
    transition-duration: var(--trans);
    border: none;
    margin-bottom: calc( var(--size-buffer) / 2 );
    font-size: var(--size-text);
}

.o-selected {
    background-color: var(--color-main);
}

.option:not(.o-selected):hover {
    background-color: var(--color-hover);
}

.o-selected:hover {
    background-color: var(--color-secondary);
}



check-box {
    display: block;
    user-select: none;
}

check-box::before {
    content: "";
    border: calc( var(--size-text) / 1.5 ) solid var(--color-light);
    border-radius: calc( var(--size-corner) / 2 );
    position: absolute;
    transition-duration: var(--trans);
    font-size: 0px;
}

check-box[checked]::before {
    border-color: var(--color-main);
}

check-box:hover {
    cursor: pointer;
}

check-box:hover::before {
    border-color: var(--color-lighter);
}

check-box[checked]:hover::before {
    border-color: var(--color-secondary);
}

tick-mark {
    width: calc( var(--size-text) / 3 );
    height: calc( var(--size-text) / 1.8 );
    border: calc( var(--size-text) / 6 ) solid var(--color-text);
    transform: rotate(45deg);
    border-top: calc( var(--size-text) / 6 );
    border-left: calc( var(--size-text) / 6 );
    margin-top: calc( var(--size-text) / 6 );
    margin-left: calc( var(--size-pad) / 2.5 );
    position: absolute;
    display: block;
    z-index: 5;
}



input {
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.8 );
    padding-bottom: calc( var(--size-pad) / 1.8 );
    font-size: var(--size-text);
    display: block;
    border-radius: var(--size-corner);
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

input:not(.search-input):hover {
    background-color: var(--color-lighter);
}

search-box {
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.5 );
    padding-bottom: calc( var(--size-pad) / 3 );
    font-size: var(--size-text);
    display: block;
    border-radius: var(--size-corner);
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

search-box:hover {
    background-color: var(--color-lighter);
}

.search-input {
    background-color: rgba(0,0,0,0);
    padding: 0px;
    font-size: var(--size-text);
    display: inline;
    border-radius: 0px;
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

.search-button {
    background-color: rgba(0,0,0,0);
    color: var(--color-text);
    transition-duration: var(--trans);
    border: none;
    border-radius: 100%;
    position: absolute;
    margin-top: calc( 0px - ( var(--size-pad) / 4 ) );
    margin-left: 40px;
    height: calc( var(--size-text) * 2 );
    width: calc( var(--size-text) * 2 );
    display: none;
}

.search-button:hover {
    background-color: var(--color-hover);
}