select-menu { 
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding: var(--size-pad);
    display: block;
    border-radius: var(--size-corner);
    overflow-y: auto;
    text-align: center;
}

select-info {
    font-size: var(--size-text);
    opacity: .5;
}

.option {
    width: 100%;
    height: var(--size-option);
    background-color: rgba(0,0,0,0);
    color: var(--color-text);
    border-radius: var(--size-corner);
    transition-duration: var(--trans);
    border: none;
    margin-bottom: calc( var(--size-buffer) / 2 );
    font-size: var(--size-text);
    text-align: center;
}

.o-selected {
    background-color: var(--color-main);
}

.option:not(.o-selected):hover {
    background-color: var(--color-hover);
}

.o-selected:hover {
    background-color: var(--color-secondary);
}

.option-hover {
    background-color: var(--color-dark);
    border-radius: calc( var(--size-corner) / 2 );
    color: var(--color-text);
    border: none;
    float: right;
    margin: 0px;
    margin-right: calc( var(--size-pad) / 2 );
    opacity: 0;
    display: none;
    transition-duration: var(--trans);
}

.option-hover:hover {
    background-color: var(--color-light);
}

.option:hover .option-hover {
    opacity: 1;
    display: initial;
}



check-box {
    display: block;
    user-select: none;
}

check-box::before {
    content: "";
    border: calc( var(--size-text) / 1.5 ) solid var(--color-light);
    border-radius: calc( var(--size-corner) / 2 );
    position: absolute;
    transition-duration: var(--trans);
    font-size: 0px;
}

check-box[checked]::before {
    border-color: var(--color-main);
}

check-box:hover {
    cursor: pointer;
}

check-box:hover::before {
    border-color: var(--color-lighter);
}

check-box[checked]:hover::before {
    border-color: var(--color-secondary);
}

tick-mark {
    width: calc( var(--size-text) / 3 );
    height: calc( var(--size-text) / 1.8 );
    border: calc( var(--size-text) / 6 ) solid var(--color-text);
    transform: rotate(45deg);
    border-top: calc( var(--size-text) / 6 );
    border-left: calc( var(--size-text) / 6 );
    margin-top: calc( var(--size-text) / 6 );
    margin-left: calc( var(--size-pad) / 2.5 );
    position: absolute;
    display: block;
    z-index: 5;
}



input:not(.search-input):not([type]) {
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.8 );
    padding-bottom: calc( var(--size-pad) / 1.8 );
    font-size: var(--size-text);
    display: block;
    border-radius: var(--size-corner);
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

input:not(.search-input):not([type]):hover {
    background-color: var(--color-lighter);
}

search-box {
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.5 );
    padding-bottom: calc( var(--size-pad) / 3 );
    font-size: var(--size-text);
    display: block;
    border-radius: var(--size-corner);
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

search-box:hover {
    background-color: var(--color-lighter);
}

.search-input {
    background-color: rgba(0,0,0,0);
    padding: 0px;
    font-size: var(--size-text);
    display: inline;
    border-radius: 0px;
    border: none;
    color: var(--color-text);
    transition-duration: var(--trans);
}

.search-button {
    background-color: rgba(0,0,0,0);
    color: var(--color-text);
    transition-duration: var(--trans);
    border: none;
    border-radius: 100%;
    position: absolute;
    margin-top: calc( 0px - ( var(--size-pad) / 4 ) );
    margin-left: 40px;
    height: calc( var(--size-text) * 2 );
    width: calc( var(--size-text) * 2 );
    display: none;
}

.search-button:hover {
    background-color: var(--color-hover);
}



roll-over {
    display: block;
}

roll-text {
    display: block;
    user-select: none;
    opacity: .75;
    transition-duration: var(--trans);
}

roll-text:hover {
    cursor: pointer;
    opacity: 1;
}

roll-text::before {
    content: "❯";
    display: inline-block;
    transition-duration: calc( var(--trans-long) / 2 );
    margin-right: var(--size-pad);
}

roll-text[rolled]::before {
    transform: rotate(90deg);
}

roll-content {
    overflow-y: hidden;
    transition-duration: var(--trans-long);
    height: 0px;
    opacity: 0;
    display: block;
    margin-bottom: 0px;
}

roll-text[rolled] ~ roll-content {
    height: var(--max);
    opacity: 1;
    margin-bottom: 0px;
}

hyper-link {
	color: var(--color-main);
	text-decoration: underline;
    transition-duration: var(--trans);
}

hyper-link:hover {
	color: var(--color-secondary);
	cursor: pointer;
}

dev-t {
    display: block;
    transition-duration: var(--trans);
}

dev-t:hover {
	color: var(--color-main);
	text-decoration: underline;
	cursor: help;
}



drop-area {
    background-color: var(--color-light);
    width: calc( 100% - 4 * var(--size-pad) );
    height: var(--size-file-drop);
    padding: var(--size-pad);
    display: block;
    border-radius: var(--size-corner);
    overflow: hidden;
    text-align: center;
    transition-duration: var(--trans);
    user-select: none;
}

drop-area:hover {
    background-color: var(--color-lighter);
}

.drop-input {
    width: 100%;
    height: 100%;
    background-color: #f00;
    opacity: 0;
}

drop-text {
    position: absolute;
    display: inline-flex;
    width: calc( 100% - 6 * var(--size-pad) );
    height: inherit;
    line-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .5;
}

drop-area[has-files] drop-text {
    opacity: 1;
}

imported-levels[has-content] drop-area {
    height: var(--size-file-drop-small);
}



gmd-level {
    background: var(--color-gradient);
    color: var(--color-titlebar-text);
    display: block;
    width: calc( 100% - 4 * var(--size-pad) );
    border-radius: var(--size-corner);
    padding: var(--size-pad);
}

gmd-level roll-over {
    margin-bottom: 0px;
}

gmd-level roll-over roll-text {
    margin-bottom: 0px;
}



cool-slider {
    width: calc( 100% - 2 * var(--size-pad) );
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: var(--size-text);
    background: var(--color-light);
    transition-duration: var(--trans);
    border-radius: calc( var(--size-corner) / 2 );
}

input[type="range"]:hover {
    background: var(--color-lighter);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: calc( var(--size-text) * 1.5 );
    height: calc( var(--size-text) * 1.5 );
    background: var(--color-main);
    cursor: pointer;
    transition-duration: var(--trans);
    border-radius: calc( var(--size-corner) / 2 );
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--color-secondary);
}

slider-text {
    margin-left: calc( var(--size-pad) / 2 );
    font-size: var(--size-text);
}



help-button {
    background: var(--color-gradient);
    color: var(--color-titlebar-text);
    padding-left: var(--size-pad);
    padding-right: var(--size-pad);
    padding-top: calc( var(--size-pad) / 1.5 );
    padding-bottom: calc( var(--size-pad) / 1.5 );
    border-radius: var(--size-corner);
    border: none;
    transition-duration: var(--trans);
    font-size: var(--size-text);
    user-select: none;
    opacity: .75;
}

help-button:hover {
    background-color: var(--color-secondary);
    opacity: 1;
}