:root {
    --color-background:         #141414;
    --color-dark:               #252526;
    --color-light:              #39393a;
    --color-lighter:            #49494a;
    --color-main:               #2cd5ff;
    --color-secondary:          rgb(103, 255, 204);
    --color-gradient:           linear-gradient(to right,var(--color-secondary),var(--color-main));
    --color-titlebar:           var(--color-gradient);
    --color-titlebar-text:      #000;
    --color-hover:              rgba(255,255,255,0.15);
    --color-text:               #fff;
    --color-shadow:             rgba(0,0,0,.5);

    --scale:                    1;

    --size-titlebar:            calc( 30px * var(--scale) );
    --size-pad:                 calc( 15px * var(--scale) );
    --size-tab:                 calc( 40px * var(--scale) );
    --size-buffer:              calc( 8px  * var(--scale) );
    --size-option:              calc( 35px * var(--scale) );
    --size-corner:              calc( 10px * var(--scale) );
    --size-text:                calc( 14px * var(--scale) );
    --size-shadow:              calc( 20px * var(--scale) );
    --size-popup-default:       30%;
    --size-svg:                 calc( 24px * var(--scale) );
    --size-loader-radius:       75px;
    --size-loader-thickness:    12px;
    --size-file-drop:           150px;
    --size-file-drop-small:     30px;

    --trans:                    .1s;
    --trans-long:               .5s;
    --trans-extra-long:         4s;
    --loader-spin:              .75s;
}

@font-face {
    font-family: 'Main';
    src: url('../../resources/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Main-Bold';
    src: url('../../resources/fonts/Montserrat-Bold.ttf');
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Main";
    overflow: hidden;
    font-size: var(--size-text);
}

app-main {
    width: 100%;
    height: calc( 100% - var(--size-titlebar));
    top: var(--size-titlebar);
    left: 0px;
    position: absolute;
}

t-dark {
    opacity: 0.6;
}

t-m {
    color: var(--color-main);
}

t-s {
    color: var(--color-secondary);
}

title-big {
    font-family: "Main-Bold";
    font-size: calc( var(--size-text) * 2 );
    display: block;
}

title-medium {
    font-family: "Main-Bold";
    font-size: calc( var(--size-text) * 1.5 );
    display: block;
}

* {
    outline: none;
    margin-bottom: var(--size-buffer);
}

::-webkit-scrollbar {
	width: calc( var(--size-pad) / 2 );
	height: calc( var(--size-pad) / 4 );
	transition-duration: var(--trans);
}

::-webkit-scrollbar-track {
	background: var(--color-light);
	transition-duration: var(--trans);
	width: var(--size-pad);
	height: var(--size-pad);
}

::-webkit-scrollbar-thumb {
	background: var(--color-main);
	transition-duration: var(--trans);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-secondary);
	border-radius: 0px;
	cursor: pointer;
}



alert-area {
    background-color: rgba(0,0,0,.5);
    top: var(--size-titlebar);
    left: 0px;
    height: calc( 100% - var(--size-titlebar) );
    width: 100%;
    position: absolute;
    z-index: 10;
    display: none;
}

alert-box {
    background-color: var(--color-light);
    color: var(--color-text);
    box-shadow: 0px 0px var(--size-shadow) var(--color-shadow);
    width: calc( var(--size-popup-default) * 2 );
    left: 50%;
    top: 50%;
    padding: var(--size-pad);
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
}

alert-content {
    padding: var(--size-pad);
}

alert-close {
    color: var(--color-text);
    position: absolute;
    right: var(--size-pad);
    top: var(--size-pad);
    user-select: none;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    transition-duration: var(--trans);
    font-size: var(--size-text);
    text-align: center;
    opacity: .5;
    transform: translateY(-25%);
    z-index: 5;
}

alert-close:hover {
    opacity: 1;
}

c-d {
    opacity: .5;
}

loading-circle {
    border: var(--size-loader-thickness) solid rgba(0,0,0,0);
    border-top: var(--size-loader-thickness) solid var(--color-main);
    border-bottom: var(--size-loader-thickness) solid var(--color-main);
    border-radius: 50%;
    width: var(--size-loader-radius);
    height: var(--size-loader-radius);
    top: calc( 50% - var(--size-loader-radius) / 2 );
    left: calc( 50% - var(--size-loader-radius) / 2 );
    animation: spin var(--loader-spin) linear infinite;
    position: absolute;
    box-sizing: border-box;
}

loading-text {
    top: 30%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-family: "Main";
    font-size: calc( var(--size-text) * 1.5 );
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.svg {
    transform: translateY(+50%);
}

.highlight {
    position: relative;
    z-index: 9999;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}